{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>
    <a href="{{ path('user_new') }}" class="btn btn-default pull-right">Create a new user</a>

    <table class="table table-stripped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for user in pagination.items %}
            <tr class="row-user-{{ user.id }}">
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>
                    {{ user.roles|join(',') }}
                </td>
                <td>{% if user.enabled %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i> {% endif %}</td>
                <td>
                    <a href="{{ path('user_show', { 'id': user.id }) }}"><i class="fa fa-eye"></i></a>

                    <a href="{{ path('user_edit', { 'id': user.id }) }}"><i class="fa fa-pencil"></i></a>

                    {% if app.user.getId() != user.id %}
                        <a href="javascript:void(0)" class="user-remove" data-id="{{ user.id }}" title="Delete"><i class="fa fa-remove"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination.total/pagination.limit > 1 %}
    <nav aria-label="">
        <ul class="pagination">
            {% if pagination.prev is defined %}
            <li><a href="?page={{ pagination.prev }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% for i in 1..(pagination.total / pagination.limit) %}
                <li {% if i == pagination.page %} class="active" {% endif %}><a href="?page={{ i }}"><span aria-hidden="true">{{ i }}</span></a></li>
            {% endfor %}
            {% if pagination.next is defined %}
            <li><a href="?page={{ pagination.next }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% else %}
                <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" id="csrf">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      var deleteUrl = '{{ path('user_delete', {'id': '__id__'})|escape('js') }}';
      (function($){
        var csrf = $("#csrf").val();
        $(document).ready(function(){
          $(".user-remove").on('click', function(e){
            var id = $(this).data('id');
            if(confirm("Are you sure? This action can't be undone..")){
              deleteUser(id);
            }
          });

        })

        function deleteUser(id){
          var url = deleteUrl.replace('__id__', id);
          console.log(url);
          $.ajax({
            url: url,
            type: 'POST',
            data:{
              _token:csrf,
              _method:'DELETE'
            }
          }).then(function(response){
            $(".row-user-"+id).remove();
          }).catch(function (err) {
            console.warn(err);
          });
        }
      })(jQuery)

    </script>
{% endblock %}